body { padding: 0; margin: 0 }

    /* 1. Resetar margem e garantir 100% da viewport */
    html, body {
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
        overflow: hidden; /* Evita barras de rolagem */
    }

    /* 2. O contêiner principal deve ocupar a tela toda */
    #unity-container {
        width: 100%;
        height: 100%;
    }
    
    /* 3. Garantir que a classe unity-mobile preencha o contêiner */
    /* (Se o seu style.css já define isso para .unity-mobile, este passo pode ser redundante) */
    .unity-mobile {
        width: 100%;
        height: 100%;
    }
    
    
#unity-canvas { 
    background: #231F20;
    width: 100%;
    height: 100vh; /* 100vh significa 100% da altura da viewport */
    display: block; /* Remove possíveis espaços em branco abaixo do canvas */
  }
.unity-mobile #unity-canvas { width: 100%; height: 100% }
#unity-loading-bar { position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%); display: none }
#unity-logo { width: 154px; height: 130px; background: url('unity-logo-dark.png') no-repeat center }
#unity-progress-bar-empty { width: 141px; height: 18px; margin-top: 10px; margin-left: 6.5px; background: url('progress-bar-empty-dark.png') no-repeat center }
#unity-progress-bar-full { width: 0%; height: 18px; margin-top: 10px; background: url('progress-bar-full-dark.png') no-repeat center }
#unity-footer { position: relative }
.unity-mobile #unity-footer { display: none }
#unity-logo-title-footer { float:left; width: 102px; height: 38px; background: url('unity-logo-title-footer.png') no-repeat center }
#unity-build-title { float: right; margin-right: 10px; line-height: 38px; font-family: arial; font-size: 18px }
#unity-fullscreen-button { cursor:pointer; float: right; width: 38px; height: 38px; background: url('fullscreen-button.png') no-repeat center }
#unity-warning { position: absolute; left: 50%; top: 5%; transform: translate(-50%); background: white; padding: 10px; display: none }
